.btn {
  &-group {
    display: flex;
    justify-content: center;
    align-items: center;

    &__right {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

// -------  @container -------
.container {
  &-ft {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
  }
}
//#container