// @import (less) 'normalize.css';

//----------  @overall ----------
html {
  font-family: "Microsoft YaHei", Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  min-height: 100%;
}
//#overall

//----------  @btns ----------
.btn {
  &-group {
    display: flex;
    justify-content: center;
    align-items: center;

    &__right {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
//#btns
// -------  @container -------
.container {
  &-bd {
    position: relative;
    height: 100%;
    z-index: 5;
    padding-bottom: 70px;
    padding-left: 100px;
    padding: 0 0 70px 90px;
  }

  &-ft {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }

  &-empty {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #37474F;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .em {
      color: #00E5FF;
      font-weight: bold;
    }
  }
}
//#container

//----------  @list ----------
.list {
  //----------  @list-folder ----------
  &-folder {
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
  }
  //#list-folder

  //----------  @list-operation ----------
  &-operation {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(33, 33, 33, .8);
    opacity: 0;
    transform: opacity .2s ease;

    .icon-btn {
      padding: 5px 10px;
      box-sizing: border-box;
      color: #fff;
    }
  }
  //#list-operation
}

.show {
  &-list-operation {
    .list-operation {
      opacity: 1;
    }
  }
}

//#list

//----------  @dropzone ----------
.dropzone {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ondragover {
  z-index: 50;
  display: block;
  background-color: rgba(55, 71, 79, .6);
  border: 3px dashed #00B8D4;
}
//#dropzone

//----------  @sidebar ----------
.sidebar {
  background-color: #263238;
  width: 80px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}

.figure {
  margin: 0;
  padding: 0;
  overflow: hidden;

  img {
    vertical-align: top;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }

  //----------  @figure-logo ----------
  &-logo {
    width: 60px;
    height: 60px;
    margin: 20px auto;
  }
  //#figure-logo
}

//----------  @setting ----------
.setting {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  &-mod {
    &_title {
      margin-bottom: 0;
    }
  }
}

.text {
  &-field {
    &:nth-child(2n) {
      margin-left: 40px;
    }
  }
}
//#setting
//#sidebar
